:root {
  --black: hsl(0, 0%, 0%);
  --blueDark: hsl(216, 100%, 22%);
  --blueDarkTransparent: hsla(216, 100%, 22%, 0.67);
  --blueLight: hsl(205, 70%, 58%);
  --blueLightest: hsla(213, 100%, 95%, 0.8);
  --blueTransparent: hsla(212, 100%, 35%, 0.9);
  --blueTransparentLight: hsla(213, 100%, 95%, 0.44);
  --grayDarker: hsl(0, 0%, 29%);
  --grayDark: hsl(0, 0%, 61%);
  --grayLight: hsl(0, 0%, 61%, 0.1);
  --grayLighter: hsla(0, 0%, 85%, 0.2);
  --red: hsl(352, 69%, 53%);
  --redDark: hsl(352, 69%, 39%);
  --white: hsl(0, 0%, 100%);
}

p {
  font-family: "Awesome Font", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.625;
}

.entry-title {
  color: var(--blueDark);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.entry-description {
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bg-yangblue {
  background-color: var(--blueDark);
}

.yang-results {
  padding: 20px 70px;
  height: 100%;
  min-height: calc(100vh - 75px);
}
.yang-brand {
  margin: auto !important;
}

.donate-button {
  background-color: var(--red) !important;
  border-color: var(--red) !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

#loading-spinner {
  left: 50%;
  position: fixed;
  background-color: var(--blueDark);
}

#footer {
  bottom: 0%;
  width: 100%;
  height: 100px;
  background-color: var(--blueDark);
}

#footer p {
  text-align: center;
  padding-top: 25px;
  color: white;
  font-weight: bold;
}

#footer p a {
  color: var(--blueLight);
}

.error-text {
  line-height: 25px;
  text-align: center;
}

.error-image {
  vertical-align: middle;
}

.result-item:hover {
  text-decoration: none;
}

mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
